ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
}

.lt_container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 55px;
    position: relative;
    overflow: hidden;
}

/* 头部 */
.lt_header {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #006699;
    padding: 0 45px;
}

.lt_header .icon_left,
.lt_header .icon_right {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 45px;
    color: #fff;
}

.lt_header .icon_left {
    left: 0;
}

.lt_header .icon_right {
    right: 0;
}

.lt_header h3 {
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}


/* 底部 */
.lt_footer {
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #006699;
}

.lt_footer li {
    float: left;
    width: 25%;
}

.lt_footer li a {
    display: block;
    text-align: center;
    padding-top: 8px;
    color: #fff;
}

.lt_footer li a p {
    color: #fff;
    margin: 0;
}

.lt_footer li a.current {
    color: orange;
}

.lt_footer li a.current p {
    color: orange;
}

/*  */
.lt_main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 公共的搜索框样式 */
.lt_search {
    padding: 10px;
    position: relative;
}

.lt_search .search_input {
    font-size: 12px;
    margin: 0;
    height: 34px;
    border: 1px solid #007AFF;
    border-radius: 5px;
}

.lt_search .search_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}

/* 公共的产品样式 */
.lt_product {
    padding: 10px;
    text-align: center;
}

.lt_product li {
    float: left;
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.lt_product li:nth-child(2n-1) {
    margin-right: 4%;
}

.lt_product li a {
    display: block;
    padding: 10px;
}

.lt_product li .price {
    color: red;
}

.lt_product li .oldPrice {
    text-decoration: line-through;
}