.body_bg {
    background-color: #222D32;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.red {
    color: #A94442;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel .panel-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.mt_150 {
    margin-top: 150px;
}

.mt_20 {
    margin-top: 20px;
}


/* 左侧侧边栏 */
.lt_aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    background-color: #222D32;
    z-index: 999;
    transition: left 1s;
}

.lt_aside.hidemenu {
    left: -180px;
}

.lt_aside .brand {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #367FA9;
}

.lt_aside .brand a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.lt_aside .user {
    height: 180px;
    padding-top: 30px;
}

.lt_aside .user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.lt_aside .user p {
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
}

.lt_aside .nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 40px;
    border-left: 3px solid transparent;
}

.lt_aside .nav li a.current {
    background-color: #1D1F21;
    border-left: 3px solid #069;
}

.lt_aside .nav li i {
    margin-right: 5px;
}

.lt_aside .nav li .child {
    display: none;
}

.lt_aside .nav li .child a {
    padding-left: 60px;
}

/* 右侧主题部分 */
.lt_main {
    height: 2000px;
    padding-left: 180px;
    padding-top: 50px;
    transition: padding-left 1s;
}

.lt_main.hidemenu {
    padding-left: 0;
}

.lt_topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #3C8DBC;
    padding-left: 180px;
    transition: padding-left 1s;
}

.lt_topbar.hidemenu {
    padding-left: 0;
}

.lt_topbar .icon_left,
.lt_topbar .icon_right {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}

.lt_content .echarts_left,
.lt_content .echarts_right {
    width: 48%;
    height: 400px;
    background-color: pink;
}